<div class="row">
    <div class="col-lg-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <h5 *ngIf="title" class="card-title">{{ title }}</h5>
          <table class="mb-0 table table-hover">
            <thead>
              <tr>
                <th>Código ITRIS</th>
                <th>Razón Social</th>
                <th>CUIT/CUIL</th>
                <th>Tipo y N° Documento</th>
                <th>Habilitado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">17905371</th>
                <td>YOHANNA PRIVITERA</td>
                <td>41307551</td>
                <td>DNI 29111056</td>
                <td>Si</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">16302935</th>
                <td>ENRIQUE PETRAGLIA</td>
                <td>20144940343</td>
                <td>DNI 14494034</td>
                <td>No</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">00304278</th>
                <td>ROSA EMILIA ROMERO</td>
                <td>23034969515</td>
                <td>DNI 3496951</td>
                <td>Si</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>